#collection-div #c-textarea {
    width: 100%;
}
#collection-div {
    display: none;
}
#login-div {
    display: none;
}
#signup-result, #login-result, #c-help-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row .col-md-3 {
    margin-top: 30px;
}
.row .col-md-3:first-child {
    text-align: right;
}
.row .col-md-3:last-child {
    text-align: left;
}