#ability-popup {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    z-index: 2;
}