#ability-popup {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    z-index: 2;
}
#search-form .navbar-form {
    padding: 0;
}
#search-popup {
    position: fixed;
}
.description-popup {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    z-index: 2;
}
.description-header {
    border-bottom: 1px solid black;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#loading
{
    padding-top: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 100px;
    margin-left: -250px;
    background-color: rgb(220, 220, 220);
    z-index: 999;
}
#loading #loading-circles
{
    width: 100px;
    display: inline-block;
}
#loading #loading-message
{
    display: block;
    position: relative;
    left: 120px;
    top: -100px;
    width: 360px;
}
.loading-circle
{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.loading-circle2
{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse
{
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse
{
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse
{
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse
{
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}